node_modules
*.log
.nuxt
nuxt.d.ts
.output
.env

.yarn/cache
.yarn/install-state.gz

.cache
.eslintcache

# next.js build output
.next
.nuxt
# Nuxt generate
dist
# vuepress build output
.vuepress/dist

# macOS
.DS_Store
