#components-page-header-demo-responsive .content {
	display: flex;
}
.ant-page-header-heading-extra {
	align-self: center;
}
.ant-page-header-heading-left {
	flex-shrink: 0;
}
.dao-table {
	max-width: 1000px;
	margin: auto;
}
.opt_btn {
	margin-top: 1rem;
}
.menu {
	text-align: center;
	margin-bottom: 1rem;
}
.menu_option {
	font-size: var(--font-size-medium) !important;
	font-weight: 500 !important;
}
.logo {
	max-width: 12rem;
}

.text_btn {
	color: #1890ff;
	cursor: pointer;
	font-size: 1.6rem;
}
