.flexbox {
	display: flexbox;
}

.bottom_center {
	text-align: center;
	padding-block: 1rem;
}

.flexbox_justify_space {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 575px) {
	.ant-form .ant-form-item .ant-form-item-label,
	.ant-form .ant-form-item .ant-form-item-control {
		flex: 1 !important;
	}
}
