.margin_top_sm {
	margin-top: 1rem !important;
}

.margin_bottom_sm {
	margin-bottom: 1rem !important;
}

.padding_sm {
	padding: 1rem !important;
}

.margin_left_sm {
	margin-left: 1rem !important;
}

.padding_med {
	padding: 2rem !important;
}

.padding_inline_med {
	padding-inline: 2rem !important;
}

.margin_top_large {
	margin-top: 3rem;
}

.margin_right_extra_sm {
	margin-right: 0.5rem;
}

.margin_top_extra_sm {
	margin-top: 0.5rem;
}
